<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head' , {title}) %>
   
</head>
<body>
    <header> 
        <%- include('../partials/header')  %>
    </header>
    
    <main>
        <section class="seccion-uno">
        <form action="/mercaderiausuariosdetalle/<%=mercaderia.id%>/update?_method=put" method="post">
            <label for="">Nombre:</label>
            <input type="text" name="title" value="<%= mercaderia.title %>">
            <label for="">Precio:</label>
            <input type="number" name="price" value="<%= mercaderia.price %>">
            <label for="img">Imagen</label>
            <input type="file" name="img" value="<%=mercaderia.img%>" accept=".jpg , .png">
            
            <input type="submit" value="Guardar cambios">
        </form>
    </section>
    </main>
        <footer>
            <%- include('../partials/footer') %>
            </footer>
</body>
</html>